name: Update README card

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate top languages card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: top-langs
          options: username=${{ github.repository_owner }}&langs_count=10&hide=css,scss,html,makefile,inno setup,javascript,hack&layout=compact&title_color=C14A37&text_color=FFB26B&icon_color=0891b2&bg_color=272822&hide_border=false&locale=en
          path: profile/top-langs.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Commit card
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add profile/*.svg
          git commit -m "Update README card" || exit 0
          git push
